/* @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
html{
    scroll-behavior:smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    align-items: center;
    align-content: center;
    background-size: cover;
    overflow-x: hidden;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.dropdown {
  display: inline-block;
  position: relative;
  border:none;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  border: 1px solid white;
  border-radius: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  border-radius: 10px;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

@media screen and (max-width: 788px) {
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 50%;
    border: 1px solid white;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    left: 80%;
    width: 80%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    border: 2px solid white;
    border-radius: 10px;
  }
  
}

button{
    border: none;
    background: rgba(12, 12, 12, 0.644);
    padding: 12px 30px;
    border-radius: 15px;
    color: rgb(255, 220, 22);
    border: 0.5px solid rgb(255, 220, 22);
    font-weight: 500;
    font-size: 15px;
    transition: .4s;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
button:hover{
    background: gold;
    transform: scale(1.1);
    cursor: pointer;
    font-weight: 600;
    border-radius: 30px;
    margin: 5px;
    color: black;
    border: none;
}



/* welcome-section */
.welcome video{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    z-index: -1;
    border-bottom: 11px solid gold;
    margin-bottom: 10%;
}




@media screen and (max-width:730px) {
    
    .heading{
        font-size: 50%;
        color: white;
    }

    .welcome video{
        align-items: center;
        height: 110%;
        width: 100%;
    }

    .heading{
        margin-top: 30%;
    }

    #headp{
        font-size: 20px;
    }

    #headh1{
        font-size: 40px;
    }

    #heada{
        font-size: 12px;
        z-index: auto;
    }
    
}
.heading{
    padding-top: 16%;
    text-align: center;
    z-index: 999;
    padding-bottom: 12.5%;
    font-weight: 100;
}
.heading h2{
    font-size: 60px;
    background:gold;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: "transparent";
    font-weight: 10;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.4s;
    background-size: 500% auto;
    animation: textShine 3s ease-in-out infinite alternate;
}

.heading p{
    font-size: 25px;
    color: white;
    background:white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: "transparent";
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.4s;
    background-size: 500% auto;
    animation: textShine 3s ease-in-out infinite alternate;
}

@keyframes textShine{
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}
.heading h1:hover{
    -webkit-text-stroke: 1px rgb(243, 234, 234);
    /* color: transparent;
    background: transparent; */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.heading a{
    position: relative;
    display: inline-block;
    padding: 15px 70px;
    margin-top: 30px;
    color: rgb(243, 233, 233);
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    background: rgba(27, 27, 27, 0.705);
    font-size: 24px;
    border: 2px solid rgb(243, 233, 233);
    border-radius: 50px;
    overflow: hidden;
    transition: 0.2s;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.heading a:hover{
    font-weight: 200;
    display: inline-block;
    letter-spacing: 7px;
    color: rgb(3, 3, 3);
    background: gold;
    border-radius: 30px;
    border: 3px solid rgb(243, 233, 233);
    box-shadow: 0 0 10px aqua, 0 0 40px aqua;
}

#scroll-up {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 90px;
    width: 90px;
    display: none;
    z-index: 10;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  .card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
}

.card img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.card-content {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
    }
    .card img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
}  


.containerabout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}
.image-container {
    flex: 1;
    margin-right: 20px;
    
}
.image-container img {
    width: 150%; /* Set image width to 100% of container */
    height: auto; /* Maintain aspect ratio */
    max-width: 600px; /* Limit maximum width */
    display: block; /* Remove any default spacing */
    margin: 0 auto; /* Center the image horizontally */
}
.text-container {
    flex: 1;
    font-size: 25px;
    color: rgb(255, 255, 255);
    opacity:100000;
    
}
#resp{
    display: none;
}
@media (max-width: 1233px) {
    .containerabout {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }
    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .image-container img {
        max-width: 100%; /* Set maximum width to container width */
    }
    #resp{
        display: block;
    }
}

.aboutus{
    background-image: url(../Gallary/asset/dark.jpg);
    background-color: black;
    
}

::selection {
    background: rgb(0, 123, 255, 0.3);
  }
  .wrapper {
    max-width: 100%;
    padding: 0 20px;
    border: 2px solid #fff;
    border-radius: 20px;
  }
  .wrapper .parent-tab,
  .wrapper .child-tab {
    margin-bottom: 8px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
  }
  .wrapper .parent-tab label,
  .wrapper .child-tab label {
    background: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    z-index: 99;
    transition: all 0.3s ease;
  }
  .wrapper .parent-tab label:hover {
    background: black;
  }
  .parent-tab input:checked ~ label,
  .child-tab input:checked ~ label {
    border-radius: 3px 3px 0 0;
    background: black;
  }
  .wrapper label span {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0 -1px 1px #0056b3;
  }
  .wrapper .child-tab label span {
    font-size: 17px;
  }
  .parent-tab label .icon {
    position: relative;
    margin-left: 20px;
    height: auto;
    width: auto;
    font-size: 15px;
    color: gold;
    display: block;
    background: #fff;
    border-radius: 50%;
    text-shadow: 0 -1px 1px #0056b3;
  }
  .wrapper .child-tab label .icon {
    height: 27px;
    width: 27px;
  }
  .parent-tab label .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .parent-tab input:checked ~ label .icon i:before,
  .child-tab input:checked ~ label .icon i:before {
    content: "\f068";
  }
  .wrapper .parent-tab .content,
  .wrapper .child-tab .sub-content {
    max-height: 0px;
    overflow: hidden;
    background: gold;
    border-radius: 0 0 3px 3px;
    transition: all 0.4s ease;
    border-radius: 20px;
  }
  .parent-tab input:checked ~ .content,
  .child-tab input:checked ~ .sub-content {
    max-height: 100vh;
  }
  .tab-3 input:checked ~ .content {
    padding: 15px 20px;
  }
  .parent-tab .content p,
  .child-tab .sub-content p {
    padding: 15px 20px;
    font-size: 16px;
  }
  .child-tab .sub-content p {
    font-size: 15px;
  }
  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }

  .notification-popup {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red !important;
    color: #ffff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
}

.carousel {
    overflow: hidden;
    width: 90%;
  }
  
  .carousel-list {
    display: flex;
    animation: scroll 10s linear infinite;
    padding: 0;
    list-style: none;
    margin: 0;
    width: calc(200% + 1 * (100vw - 100%));
  }
  
  .carousel-item {
    width: 100%;
    padding: 0;
    margin:0px -6%;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100% - (100vw - 100%));
    }
  }
  
  @media screen and (max-width: 768px) {
    .carousel-item {
      width: 100%;
      margin: 0px;
    }
    .carousel{
      width: 100%;
      margin: 0px;
    }
    .carousel-item img{
      width: 300%;
      height: auto;
      margin: 0px -200px;
      
    }
  }
  
  @media screen and (max-width: 500px) {
    .carousel-item {
      width: 300%;

    }
    .carousel{
        width: 100%;
        margin: 0px;
      }
  }
  
  /* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f1f4fd;
} */

.containersl {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.containersl .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}